.Skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.Skills h1 {
  font-size: 60px;
  margin-top: 60px;
}

.skilla {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.langSkilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillText {
  margin: 20px;
  font-size: larger;
}

.lang-skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
}

.skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
